{% extends 'layouts/base.html' %}

{% block title %}PyDev Reactions | Home {% endblock title %}


{% block navbar %}
    {#  Commenting out the nav for now  #}
    {#    {% include 'layouts/nav.html' %}#}
{% endblock navbar %}

{% block content %}

    <div class="row">

        <div class="col s12 m4">
            <div class="card blue-grey side-panel">
                <div class="card-content white-text center">

                    <div>
                        <img src="{{ url_for('static', filename='img/python-logo.png') }} "
                             width=120>
                    </div>
                    <div>
                        <h5>Python Dev Reactions</h5>
                    </div>
                    <div class="divider"></div>

                    <div class="section">
                        <div>
                            <blockquote>
                                <p>It is not what they say, but the reaction
                                    that tells you everything you need to
                                    know.
                                </p>
                                ― Shannon L. Alder
                            </blockquote>
                        </div>

                    </div>
                    <div class="card-action">
                        <a href="http://pythondevelopers.herokuapp.com/" class="waves-effect deep-orange darken-2 btn join-button" target="_blank">Join the community!</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="col s12 m8 l6">
        <div>
            <a class="btn-floating btn-large waves-effect waves-light deep-orange darken-2 add-button"><i class="material-icons">add</i></a>
        </div>
            {% for reaction in reactions %}
                <div class="card white reaction-card" data-id="{{ reaction.id }}">
                    <div class="card-content blue-grey-text center reaction-card-content">
                        <div class="card-image z-depth-1 reaction-image">
                            <img src="{{ reaction.img_url }}">
                        </div>
                        <div class="card-panel grey lighten-5 z-depth-1 reaction-text-section">
                            <div class="row valign-wrapper">
                                <div class="col s2">
                                    <img src="{{ url_for('static', filename='img/skift.png') }}" alt="" class="circle responsive-img">
                                    <!-- notice the "circle" class -->
                                </div>
                                <div class="col s10">
                                  <span class="blue-grey-text">
                                      {{ reaction.text }}
                                  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


{% block scripts %}
    {{ super() }}

{% endblock scripts %}
